body {
  margin-bottom: 40px;
}

.remi-attr {
  background-color:black;
  color:white;
  text-decoration:none;
  padding:4px 6px;
  font-family:-apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:1.2;
  display:inline-block;
  border-radius:3px;
 }

.remi-span {
   display:inline-block;
   padding:2px 3px;
}

.remi-svg {
  height:12px;
  width:auto;
  position:relative;
  vertical-align:middle;
  top:-1px;
  fill:white;
}

.for-oh-four-img {
  width: 600px;
}

.remi-emote {
  vertical-align: text-bottom;
}
